@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url('34693954_711.jpg') center/cover fixed;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
    background-color: #2d1375;
}

.header h2 {
    color: white;
    font-weight: 700;
}

#searchbar {
    display: flex;
    align-items: center;
    color: white;
}

#searchbar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.container {
    width: 100%;
    padding: 0 4%;
    padding-bottom: 7%;
}

.container h2 {
    text-align: center;
    font-weight: 700;
    color: white;
    padding-bottom: 1%;
}


.row {
    display: grid;
    grid-gap: 30px;
}

.services {
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
}

.services i {
    font-size: 40px;
    margin-bottom: 10px;
    color: white;
}

.services h2 {
    font-weight: 600;
    margin-bottom: 8px;
    color: white;
}

.services:hover {
    background: white;
    transform: scale(1.05);
}

.services:hover i {
    color: #704FC9;
}

.services:hover h2 {
    color: black;
}



@media screen and (min-width: 600px) {
    .row {
        grid-template-columns: repeat(2, 1fr);
        /* Display two services in one row on larger screens */
    }
}
@media screen and (min-width: 900px) {
    .row {
        grid-template-columns: repeat(3, 1fr);
        /* Display three services in one row on larger screens */
    }
}
@media screen and (min-width: 1210px) {
    .row {
        grid-template-columns: repeat(4, 1fr);
        /* Display three services in one row on larger screens */
    }
}